.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

video {
    width: 100%;
    height: auto;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #c2c7c7;
  }
@media only screen and (max-width: 400px) {
  video {
    width: 100%; /* Například na mobilním zařízení zobrazte obrázek ve šířce 100% */
    height: auto; /* Zajišťuje zachování poměru stran */
  }

}
