@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  img {
    max-width: 50%; /* Nastaví maximální šířku obrázku na 50 % šířky rodičovského prvku */
    height: auto; /* Zajišťuje zachování původního poměru stran */
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #c2c7c7;
  }

  video {
    width: 30%;
    height: auto;
  }

@media only screen and (max-width: 600px) {
  video {
    width: 100%; /* Například na mobilním zařízení zobrazte obrázek ve šířce 100% */
    height: auto; /* Zajišťuje zachování poměru stran */
  }

  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px){
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px){
    .responsive {
      width: 100%;
    }
  }

  .main {
    max-width: 200px;
    margin: auto;
 }

}
